<div class="buttons buttons_icon">
  <%= link_to(url, class: "buttons_link #{color}", target: target, title: "#{content}", method: method) do %>
    <span class="material-symbols-outlined btn_icon"><%= icon %></span>
  <% end %>
</div>
