<div class="buttons buttons_secondary">
  <%= link_to(url, class: "buttons_link #{color}", target: target, method: method) do %>
    <span class="material-symbols-outlined btn_icon"><%= icon %></span> <%= content %>
  <% end %>
</div>
