$font-title:             "DM Sans", sans-serif;
$font-text:              "DM Sans", sans-serif;

$font-size-title:        35px;
$font-size-text:         17px;
$font-size-text-small:   15px;
$font-size-text-large:   20px;
$font-size-icon:         25px;
$font-size-label:        18px;

$mobile-size:            1280px;

$color-primary:          #374A6D;
$color-primary-hover:    #4E699C;

$color-secondary:        #FF0082;
$color-secondary-hover:  #B3005C;

$color-off-white:        #FFFFFF;
$color-off-black:        #000000;

$color-background-soft:  #FFFFFF;
$color-background-heavy: #F5F5F5;

$color-text-light:       #F0F0F0;
$color-text-dark:        #141414;

$color-notice:           #47B76F;
$color-warning:          #D7AA00;
$color-error:            #FF4F11;

$color-cover:            #0008;

$border-primary:         2px solid $color-primary;
$border-secondary:       2px solid $color-secondary;
$border-light:           2px solid $color-background-soft;

$border-radius:          10px;
