<div class="alerts alerts_warning animate__animated animate__delay-4s animate__fadeOutRightBig">

  <div class="container">
    <span class="material-symbols-outlined alert_icon">error</span> <%= content %>
  </div>

</div>
